

/* FORM ELEMENT */

.form_group {
  display: flex;
}
.form_group--options button {
  margin-top: 34px;
  height: 30px;
  width: 30px;
}
.form_input {
  padding: .25rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  flex: auto;
}
.form_input.form_input--col-4{
  width: 33.33%;
}
.form_input.form_input--col-6{
  width: 50%;
}
.form_input.form_input--col-12{
  width: 100%;
}
.form_input label {
  height: 30px;
  width: 100%;
}
.form_input input {
  height: 30px;
  width: 100%;
}
.form_input select {
  height: 30px;
  width: 100%;
  max-width: none;
}
.form_input p {
  font-size: 8px;
  height: 15px;
  width: 100%;
  margin-bottom: 0;
}


