.ygrek_form--form_container {
  margin: auto;
}
.ygrek_form--form_group {
  display: flex;
}
.ygrek_form--form_input {
  padding: 0.25rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  flex: auto;
}
.ygrek_form--form_input.ygrek_form--col-4 {
  width: 33.33%;
}
.ygrek_form--form_input.ygrek_form--col-6 {
  width: 50%;
}
.ygrek_form--form_input.ygrek_form--col-12 {
  width: 100%;
}
.ygrek_form--form_input * {
  height: 30px;
  width: 100%;
}
.ygrek_form--form_input p {
  font-size: 8px;
  height: 15px;
  width: 100%;
  margin-bottom: 0;
}
.ygrek_form--col_form {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.ygrek_form--form_group.ygrek_form--select {
  margin-bottom: 1.5rem;
}
.ygrek_form--form_group.ygrek_form--checkbox {
  display: flex;
}
.ygrek_form--form_group label {
  display: block;
  font-weight: 600;
  color: #50adff;
  margin-bottom: 0.25rem;
}
.ygrek_form--col_form input,
.ygrek_form--col_form select,
.ygrek_form--col_form textarea {
  font-weight: 300;
  outline: none;
}
.ygrek_form--col_form input:focus,
.ygrek_form--col_form select:focus,
.ygrek_form--col_form textarea:focus {
  box-shadow: none;
}
.ygrek_form--col_form .form_group.form_group--checkbox input[type="checkbox"] {
  width: 1.25rem;
  height: 1.25rem;
  margin: 0;
  margin-left: 0.5rem;
}
