.ygrek_form--modal-overlay {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: 100000;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  align-items: center;
  justify-content: center;
}
.ygrek_form--modal-overlay .ygrek_form--modal-content {
  position: fixed;
  height: fit-content;
  max-height: 90vh;
  overflow: auto;
  width: 450px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.ygrek_form--modal-overlay
  .ygrek_form--modal-content
  .ygrek_form--modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-bottom: 1px solid lightgray;
}
.ygrek_form--modal-overlay
  .ygrek_form--modal-content
  .ygrek_form--modal-header
  h1 {
  margin: 0;
}
.ygrek_form--modal-overlay .ygrek_form--modal-content .ygrek_form--modal-body {
  padding: 0.5rem 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.ygrek_form--modal-overlay
  .ygrek_form--modal-content
  .ygrek_form--modal-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
/* Form */
.ygrek_form--form_group--options button {
  margin-top: 34px;
  height: 30px;
  width: 30px;
}
