.ygrek_form.basic {
  width: 500px;
  border: 1px solid lightgray;
  padding: 1rem;
  margin: 4rem auto;
}
.ygrek_form.basic .ygrek_form--row {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
/* Custom form field */
.ygrek_form.basic .ygrek_form--row .ygrek_form--col .ygrek_form--element {
  width: 100%;
  height: 90px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
/* Label */
.ygrek_form.basic .ygrek_form--row .ygrek_form--col .ygrek_form--element label {
  transition: 0.25s;
  transform: translateY(20px);
  color: #777771;
}
.ygrek_form.basic
  .ygrek_form--row
  .ygrek_form--col
  .ygrek_form--element.is_active
  label {
  transform: translateY(-5px);
  font-size: 12px;
  color: #a635ff;
  font-weight: 500;
}
.ygrek_form.basic
  .ygrek_form--row
  .ygrek_form--col
  .ygrek_form--element.is_error
  label {
  color: #ff5a35;
}
.ygrek_form.basic
  .ygrek_form--row
  .ygrek_form--col
  .ygrek_form--element
  .ygrek_form--field-wrapper {
  position: relative;
  width: 100%;
}
.ygrek_form.basic
  .ygrek_form--row
  .ygrek_form--col
  .ygrek_form--element
  .ygrek_form--field-wrapper::after {
  content: "";
  height: 2px;
  display: block;
  position: absolute;
  left: 50%;
  right: 50%;
  bottom: 0;
  background-color: #a635ff;
  transition: 0.2s linear;
}
.ygrek_form.basic
  .ygrek_form--row
  .ygrek_form--col
  .ygrek_form--element
  .ygrek_form--field-wrapper:hover::after,
.ygrek_form.basic
  .ygrek_form--row
  .ygrek_form--col
  .ygrek_form--element.has_value
  .ygrek_form--field-wrapper::after,
.ygrek_form.basic
  .ygrek_form--row
  .ygrek_form--col
  .ygrek_form--element.is_active
  .ygrek_form--field-wrapper::after {
  right: 0;
  left: 0;
}
.ygrek_form.basic
  .ygrek_form--row
  .ygrek_form--col
  .ygrek_form--element.is_error
  .ygrek_form--field-wrapper::after {
  right: 0;
  left: 0;
  background-color: #ff5a35;
}
.ygrek_form.basic
  .ygrek_form--row
  .ygrek_form--col
  .ygrek_form--element
  .ygrek_form--field-wrapper
  .ygrek_form--field {
  width: 100%;
}
.ygrek_form.basic
  .ygrek_form--row
  .ygrek_form--col
  .ygrek_form--element
  .ygrek_form--field-wrapper
  .ygrek_form--field.ygrek_form--field-input {
  border: none;
  border-bottom: 1px solid black;
  outline: none;
  width: 100%;
  background-color: transparent;
  padding: 0;
  padding-bottom: 8px;
}
.ygrek_form.basic
  .ygrek_form--row
  .ygrek_form--col
  .ygrek_form--element.is_active
  .ygrek_form--field-wrapper
  .ygrek_form--field.ygrek_form--field-input,
.ygrek_form.basic
  .ygrek_form--row
  .ygrek_form--col
  .ygrek_form--element.has_value
  .ygrek_form--field-wrapper
  .ygrek_form--field.ygrek_form--field-input {
  border-color: #a635ff;
}
.ygrek_form.basic
  .ygrek_form--row
  .ygrek_form--col
  .ygrek_form--element.is_error
  .ygrek_form--field-wrapper
  .ygrek_form--field.ygrek_form--field-input {
  border-color: #ff5a35;
}
.ygrek_form.basic
  .ygrek_form--row
  .ygrek_form--col
  .ygrek_form--element
  .ygrek_form--field-wrapper
  .ygrek_form--field.ygrek_form--field-input::placeholder {
  color: transparent;
}
.ygrek_form.basic
  .ygrek_form--row
  .ygrek_form--col
  .ygrek_form--element.is_active
  .ygrek_form--field-wrapper
  .ygrek_form--field.ygrek_form--field-input::placeholder {
  color: #777771;
}

/* Form message error */
.ygrek_form.basic
  .ygrek_form--row
  .ygrek_form--col
  .ygrek_form--element
  .ygrek_form--error-message {
  margin-top: 6px;
  font-size: 12px;
}
.ygrek_form.basic
  .ygrek_form--row
  .ygrek_form--col
  .ygrek_form--element
  .ygrek_form--error-message
  p {
  color: #ff5a35;
}
